
body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;

}
.calculator{
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    margin-bottom: 10px;
}
input[type="number"]{
    width: 50%;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid#ccc;
}
select{
    width: 50%;
    height: 40px;
    font-size: 18px;
    padding: 2px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
button{
    width: 50%;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #444;
}
#result{
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}