*{
   box-sizing: border-box;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: 'Passero'sans-serif;
}
header {
  background-color: #333;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
header h1 {
  margin: 0;
  font-size: 2em;
  
}
header p {
  margin: 5px 0;
}
section {
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
  color: #333;
  font-size: 1.5em;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  margin-bottom: 5px;
}
.job {
  margin-bottom: 20px;
}
.job h3 {
  margin: 0;
  font-size: 1.2em;
}
.job p {
  margin: 5px 0;
}
.textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
#formResponse {
  color: green;
  font-weight: bold;
}
